<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <title>Welcome!</title>
</head>

<body>
    <section class= "section1" id="contact">
        <div class="contact">
          <strong style="font-size: 45px; padding: 70px; padding-bottom: 20px; font-weight: bolder;">Contact</strong>
          <p style="font-size: 30px;">Need something? Let's be connected.</p>
          <a href="mailto:fadhilahumairah24@gmail.com">
            <button type="button" class="btn btn-light button">hit me up</button>
          </a>
        </div>
    
        <div class="contact contact2">
          <p style="margin-bottom: 5px;">Feel free to have a chit-chat with me</p>
          <div class = "sosmed">
            <a href="https://www.instagram.com/fadhilahumairah/"><img width="30" height="30"  alt="" src="../static/ig.svg"></a>
            <a href=" http://line.me/ti/p/~falaahumairah"><img width="30" height="30" alt="" src="../static/line.svg"></a>
            <a href = "https://twitter.com/Falaahumairah"><img  width="30" height="30" alt="" src="../static/tw.svg"></a>
            <a href = "https://wa.me/082276919191" ><img  width="30" height="30" alt="" src="../static/wa.svg"></a>
            <a href="https://www.linkedin.com/in/fadhilahumairah"><img width="30" height="30" alt="" src="../static/linkedin.svg"></a>
        </div>
          <a href="#home" class="arrow">
            <img src="../static/up.png" alt="" width="30" height="30">
          </a>
        </div>
      </section>
</body>
</html>