<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <title>Welcome!</title>
</head>
<body>

  <section class="section1" id="home">
    <nav class="navbar navar-inverse navbar-expand-lg navbar-light navbar-custom">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto li a">
            <li class="nav-item active">
              <a class="nav-link" href="#home">home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#about">about</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#education">education</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#experience">experience</a>
            </li>
            <li class="nav-item">
                <A class="nav-link" HREF=contact.html>contact</A>
            </li>
          </ul>
      </div>
    </nav>

      <div class="pertama">
        <div> <p style="font-size: 45px;">Hello!</p></div>
        <div style="font-size: 45px;"><h3>I'm <strong>Fadhila Humairah</strong></h2></div>
        <div><p class="text">So, are you ready to get to know me?</p></div>
        <div><a href="#about"><button type="button" class="btn btn-outline-info">more than ready</button></a></div>
      </div>
  </section>


  <section class="section1 section2"  id="about">
     <div class="kedua">
      <div>
        <img class="cakep" src="../static/cakep.jpg" alt="" >
      </div>
      <div class = "konten">
        <strong class="hello">Hello again!</strong>
        <p>
          As it’s said above, my name is Fadhila Humairah (NPM : 1906353990), 
          but call me fala and it’s enough. I’m currently studying at Universitas Indonesia, 
          majoring in Information System (Maung 2019). 
        </p>
        <p>
          I love to learn something new, so that makes me a hardworker. 
          I am also a communicative person, so don’t hesitate to talk to me.
          I don’t have any specific hobby, but i love watching a lot of movies, 
          listening to music, and exploring new things on the internet in my leisure.
        </p>
        <p style="font-weight: bolder;">
          Skills:
        </p>
        <div class="skills">
          <img src="../static/python.svg"  class="skillsicon" alt="">
          <img src="../static/java.svg" class="skillsicon" alt="">
        </div>
      </div>
    </div>

  </section>



  <section class="section3" id="education">
    <div class="ketiga">
      <strong class="education">Educational Background</strong>
      <ul class="listedu" style="list-style-type: none;">
        <li>
           <img src="../static/sd.svg" class="riwayat">
        </li>
        <li >
            <img src="../static/smp.svg" class="riwayat">
        </li>
        <li>
            <img src="../static/sma.svg" class="riwayat">
        </li>
        <li >
            <img src="../static/ui.svg" class="riwayat">
        </li>
      </ul>
    </div>
  </section>


  <section class="section1 section4" id="experience">
    <div class="keempat">
      <strong class="experience">Experience</strong>
      <div class="kotak">
        <img class="prestasi"  src="../static/committe.svg" alt="">
        <img class="prestasi"  src="../static/achievements.svg" alt="" >
      </div>
    </div>
  </section>

</body>
</html>
