body,html{
  margin : 0;
  scroll-behavior: smooth;
  font-family: 'Montserrat', sans-serif;
}

.section1{
  height: 100vh;
  background-color: #AED9E0;
  background-image: url("gunung.svg");
  background-size: 80vh;
  background-repeat: no-repeat;
  margin-bottom: 0px;
  background-position: bottom right;
}

.navbar-custom {
  background-color: #5E6472;
  font-family: 'Montserrat', sans-serif;
  color: #00AFB9;
}
.navbar-nav li a{
  color: #00AFB9;
  margin-right: 20px;
  
}
.navbar-nav li a:hover{
  color: whitesmoke;
}

.pertama{ 
  display: flex;
  flex-direction: column;
  color: #00AFB9;
  padding: 70px;
  
}

.text{
  font-size: 25px;
}


.section2{
  background-color: #FAF3DD;
  background-image: url("pasir.svg"),url("garis.svg");
  background-position: bottom left, top right;
  background-size: 165vh,45vh;
  z-index: -1000;
}

.kedua{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  padding: 50px;
}

.konten{
  display: flex;
  flex-direction: column;
  color: #3D5A80;
  text-align: justify;
  padding-right: 100px;
  font-size: 20px;
}

.hello{
  font-size: 40px; 
  font-weight: bolder;
}


.cakep{
  border-radius: 12px;
  width: 330px;
  height: 500px;
}

.skills{
  display: flex; 
  flex-direction: row;
}

.skillsicon{
  width: 100px;
  height: 100px;
}


.section3{
  background-color: #FFA69E;
  height: 100vh;
}


.ketiga{
  display: flex;
  flex-direction: column;
  margin-left: 15px;
  margin-right: 15px;
}

.education{
  color: #A6E9E0;
  text-align: center;
  font-size: 45px; 
  padding: 75px; 
  padding-top: 25px;
  padding-bottom: 25px;
  font-weight: bolder; 
}

.listedu{
  margin: 1em 0;
}

.riwayat{
  width: 500px;
}




.section4{
  background-color: #A6E9E0;
  background-image: url("ataspink.svg");
  background-position: top right;
  background-size: 167vh;
}

.keempat{
  display: flex;
  flex-direction: column;
  padding: 25px;
}

.experience{
  font-size: 45px; 
  padding: 75px; 
  padding-top: 0%;
  font-weight: bolder; 
  text-align: right;
  color: #F7E8A4
}

.kotak{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.prestasi{
  margin: 40px;
  height: 350px;
}


.contact{
  display: flex;
  flex-direction: column;
  color: #ffffff;
  text-align: center;
}

.button{
  color: #fcc25f;
  font-weight: bolder; 
  font-size: 20px;
  border-radius: 12px;
}
.button:hover{
  color: rgba(255,209,102,1);
}

.contact2{
  margin-top: 25vh;
}
.sosmed{
  flex-direction: row;
}

.arrow {
  position: relative;
  top: 0;
  transition: top ease 0.5s;
  margin-top: 20px;
}
.arrow:hover {
  top: -10px;
}

@media screen and (max-width: 768px){

  .section1{
    background-size: 60vh;
  }

  .pertama{
    padding:40px;
  }

  .section2{
    
    background-size: 100vh,40vh;
  }

  .kedua{
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    padding-top: 15px;
  }

  .hello{
    text-align: center;
    font-size: 17px;
  }
  
  .konten{
    text-align: center;
    justify-content: center;
    padding:0px;
    font-size: 13px;
  }

  .cakep{
    width: 145px;
    height: 230px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
  }

  .skills{
    justify-content: center;
    padding: 0;
  }
  
  .skillsicon{
    width: 50px;
    height: 50px;
  }

  .ketiga{
    justify-content: center;
  }

  .education{
    font-size: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .listedu{
    display: block;
    margin: 4em 0;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
  }

  .riwayat{
    width: 350px;
  }

  .section4{
    background-size: 117vh;
  }

  .experience{
    font-size: 30px;
    padding : 25px;
    padding-top: 0%;
}


  .kotak{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-top: 50px;
  }

  .prestasi{

    margin: 7px;
    height : 230px;
  }

  .contact2{
    margin-top: 23vh;
  }
  .arrow{
    margin-top: 15px;
  }
}